/* 
Monospace concept via Oskar Wickström
https://owickstrom.github.io/the-monospace-web/
MIT License 
*/

@import url('https://fonts.cdnfonts.com/css/jetbrains-mono-2');

:root {
    --text-color: #000;
    --text-color-alt: #666;
    --background-color: #fff;
    --background-color-alt: #eee;
    --font-family: "JetBrains Mono", monospace;
    --line-height: 1.20rem;
    --border-thickness: 2px;
    font-family: var(--font-family);
    font-optical-sizing: auto;
    font-weight: var(--font-weight-normal);
    font-style: normal;
    font-variant-numeric: tabular-nums lining-nums;
    font-size: 16px;
}

/* @media (prefers-color-scheme: dark) {
    :root {
        --text-color: #fff;
        --text-color-alt: #aaa;
        --background-color: #000;
        --background-color-alt: #111;
    }
} */

* {
    box-sizing: border-box;
}

html {
    display: flex;
    width: 100%;
    margin: 0;
    padding: 0;
    flex-direction: column;
    align-items: center;
    background: var(--background-color);
    color: var(--text-color);
}

body {
    position: relative;
    width: 100%;
    margin: 0;
    padding: var(--line-height) 2ch;
    max-width: calc(min(100ch, round(down, 100%, 1ch)));
    line-height: var(--line-height);
    overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: var(--font-weight-bold);
    margin: calc(var(--line-height) * 2) 0 var(--line-height);
    line-height: var(--line-height);
}

table {
    position: relative;
    top: calc(var(--line-height) / 2);
    width: calc(round(down, 100%, 1ch));
    border-collapse: collapse;
    margin: 0 0 calc(var(--line-height) * 2);
}

th, td {
    border: var(--border-thickness) solid var(--text-color);
    padding: 
      calc((var(--line-height) / 2))
      calc(1ch - var(--border-thickness) / 2)
      calc((var(--line-height) / 2) - (var(--border-thickness)))
    ;
    line-height: var(--line-height);
    vertical-align: top;
    text-align: left;
}
  table tbody tr:first-child > * {
    padding-top: calc((var(--line-height) / 2) - var(--border-thickness));
}





/* DEBUG UTILITIES */

.debug .debug-grid {
    --color: color-mix(in srgb, var(--text-color) 10%, var(--background-color) 90%);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    background-image:
      repeating-linear-gradient(var(--color) 0 1px, transparent 1px 100%),
      repeating-linear-gradient(90deg, var(--color) 0 1px, transparent 1px 100%);
    background-size: 1ch var(--line-height);
    margin: 0;
  }
  
  .debug .off-grid {
    background: rgba(255, 0, 0, 0.1);
  }
  
  .debug-toggle-label {
    text-align: right;
  }