:root {
    --darkBlue: #1d2a35;
    --lightGrey: #bcbcbc;
    
}

/* #################### GLOBAL ########################### */
@font-face {
    font-family: 'Catull';
    font-style: normal;
    font-weight: normal;
    src: url('../src/fonts/catull.woff') format('woff');
}

.footer-container {
    background-color: var(--darkBlue);
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 140px;
    background-color: var(--lightGrey);
    color: black;
    z-index: 1;
    /* top: -10%; */
    /* left: 100%; */
    margin-left: -60px; /* half of the width */
    bottom: 100%;
    text-align: center;
    border-radius: 6px;
    padding: 10px 10px;
    position: absolute;
 }

 .tooltip {
    position: relative;
    display: inline-block;
 }
 .tooltip::after {
    background-image:url("../src/images/tooltip.png") no-repeat;
    /* width: 10px;
    height: 10px; */
 }
 .tooltip:hover .tooltiptext {
     visibility: visible;
 }
 .tooltip .tooltiptext::after {
    content: " ";
    position: absolute;
    top: 100%; /* At the bottom of the tooltip */
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: var(--lightGrey) transparent transparent transparent;
  }
/* ##################### END GLOBAL ########################### */

/* ################### ADMIN AUTHOR PAGE ##################### */

.author-page-container {
    background-color: var(--darkBlue);
}
.current-authors-container{
    padding-left: 5%;
    padding-right: 5%;
    color: var(--lightGrey);
}

.author-container {
    border: 2px var(--lightGrey);
    border-style: dashed;
    border-radius: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.author-container legend {
    padding-left: 15px;
    padding-right: 15px;
}

.create-author-container {
    color: var(--lightGrey);
    display: flex;
    flex-direction: column;
    margin: 20px;
    padding: 20px;
}

.create-author-container fieldset {
    padding-left: 20%;
    padding-right: 20%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
}

.create-author-container fieldset input {
    width: 100%;
}

.create-author-container fieldset label {
    width: 100%;
}

.create-author-container fieldset select {
    width: 50%;
}

/* .creat-author-container fieldset input,
.create-author-container fieldset label {
    width: 100%;
} */

/* ############### CREATE STORY ADMIN ############### */

.create-story-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--darkBlue);
    color: var(--lightGrey);
    padding-left: 5%;
    padding-right: 5%;

}

.create-story-container .story-fieldset {
    padding-left: 3%;
    padding-right: 3%;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.create-story-container .story-fieldset label {
    margin-top: 10px;
}

.create-story-container .story-fieldset .author-dropdown {
    width: 50%;
    align-self: center;
}

.create-story-container .story-fieldset .story-input {
    height: 300px;
    max-height: 500px;
}

.create-story-container .story-fieldset .story-format-tips {
    background-color: purple;
}

/* ################ END CREATE STORY ################## */



/* ################ ADMIN SOURCE PAGE ################# */

.admin-source-page-container{
    background-color: var(--darkBlue);
}

.current-source-container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-left: 5%;
    margin-right: 5%;
}

.source-fieldset {
    border: 2px var(--lightGrey);
    border-style: dashed;
    border-radius: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    /* width: 80%; */
    margin-left: 10px;
    margin-right: 10px;
    padding: 20px;
    /* display: flex;
    align-items: stretch;
    flex-wrap: wrap;
    flex-direction: column; */
    flex-grow: 1;
    max-width: 250px;
}

.source-fieldset fieldset {
    height: 300px;
}
.source-fieldset div {
    color: var(--lightGrey);
    /* flex-grow: 1; */
    padding-bottom: 8px;
}

.source-fieldset label {
    color: var(--lightGrey);
    text-decoration: underline;
    /* flex-grow: 2; */
}

.source-fieldset legend {
    color: var(--lightGrey);
    padding-left: 15px;
    padding-right: 15px;
}

.create-source-fieldset {
    color: var(--lightGrey);
    display: flex;
    flex-direction: column;
    width: 80%;
    margin-left: 10%;
};


/* .source-story-related {
    background-color: var(--lightGrey);

}; */

/* ///////////////////// ADMIN SOURCFE PAGE STYLE ///////////////// */
.admin-source-page-container{
    background-color: ORANGE;
}

.source-story-related  {
    background-color:var(--darkBlue);
    display: flex;
};

.source-story-related .source-container {
    background-color: purple;
    /* border-style: dashed;
    border-radius: 20px; */
    /* border: 2px var(--lightGrey);
    border-style: dashed;
    border-radius: 20px; */
}

.source-container {
    border: 1px solid red;
    width: 25%;
    align-self: center;
    margin-left: 20px;
    margin-right: 20px;
}

.source-container fieldset {
    border-style: dashed;
    border-radius: 20px;
    color: var(--lightGrey);
}

.source-container legend {
    color: var(--lightGrey);
    padding-left: 15px;
    padding-right: 15px;
}

.right-column-stories {
    width: 70%;
    margin-right: 20px;
}

.right-column-stories fieldset {
    display: flex;
    flex-direction: column;
    border-style: dashed;
    border-radius: 20px;
    color: var(--lightGrey);
    flex-grow: 2;
    justify-content: space-around;
}

.right-column-stories fieldset legend {
    color: var(--lightGrey);
    padding-left: 15px;
    padding-right: 15px;
}


/* ################## MODAL ######################## */
.modal-container {

    position: fixed; 
    z-index: 10; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
}
/* 
.edit-dialog {
    z-index: 99;
} */

.modal-text-container {
    background-color: #fefefe;
    margin: 15% auto; 
    padding: 20px;
    border: 1px solid #888;
    width: 80%; 
}

/* #################### END MODAL #################### */



/* #################  IMAGES #################### */


/* ################### FRONT PAGE ################# */


.front-page-story-container {
    border: 1px solid black;
    border-radius: 20px;
    padding: 10px;
}

.front-page-story-container .front-page-headline {
    display: flex;
    justify-content: center;
}

.front-page-story-container .front-page-story-deck {
    display: flex;
    justify-content: center;
}

.front-page-story-container .front-page-author-container {
    display: flex;
    justify-content: flex-end;
    padding-right: 10px;
}

.front-page-story-container .front-page-author-container .front-page-author-name {
    margin-right: 6px;
}

.front-page-fieldset-contianer {
    display: flex;
    justify-content: flex-end;
}

.front-page-story-container .front-page-tag-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    float:right;
}

.front-page-story-container .front-page-tag-container > a {
    padding-right: 10px;
}

.front-page-story-container feildset {
    padding: 0;
    margin: 0;
    height: 20px;
    width: 20px;
}
/* ################### END FRONT PAGE ################# */

/* ################## BREAKING NEWS BANNER ############### */
#breaking-news-banner-container {
    width: 100vw;
    background-color: #B60125;
    height: 60px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

#breaking-news-headline > a{ 
    color: black;
    text-decoration: none;
    /* text-shadow: -1px 0 var(--lightGrey), 0 1px var(--lightGrey), 1px 0 var(--darkBlue), 0 -1px var(--darkBlue); */
    font-family: sans-serif;
}

/* ############## NAV BAR #################### */

.nav-bar-container {
    display: flex;
    justify-content: space-around;
    background-color: var(--darkBlue);
    padding-top: 20px;
    padding-bottom: 20px;
}

.primary-catagory-container {
    background-color: var(--darkBlue);
    color: var(--lightGrey);
    /* display: flex; this works but bugles the secondary container
    align-items: center; */
}

.primary-catagory-container > a {
    background-color: var(--darkBlue);
    color: var(--lightGrey);
    text-decoration: none;
}

/* .primary-catagory-container::after {
    content: url("../src/images/icons8-arrow-96.png");
} */

.primary-catagory-container:hover .secondary-catagory-container{
    display: inline-block;
}

.secondary-catagory-container { 
    display: none;
    position: absolute;
    background-color: var(--darkBlue);
    color: var(--lightGrey);
}

.secondary-catagory {
    padding: 10px 20px 10px 20px;
    color: var(--lightGrey);
    background-color: var(--darkBlue);
    text-decoration: none;
}

/* ############## END NAV BAR #################### */

/* ############### FOOTER ################## */
.footer-container {
    padding-top: 30px;
    padding-bottom: 30px;
}

.footer-container .footer-links-container {
    color: var(--lightGrey);
    display: flex;
    justify-content: space-around;
}

.footer-container .copyright-link {
    color: var(--lightGrey);
    display: flex;
    justify-content: center;
}

.footer-container .social-links {
    display: flex;
    justify-content: center;
}

.footer-container .social-links .social-image {
    padding: 10px;
    height: 25px;
    width: 25px;
}

.footer-container .footer-links-container .footer-links {
    list-style: none;
}

/* ################# END FOOTER ################### */


body {
    font-family:'Catull';
}

@media only screen and (max-width: 600px) {

}

@media only screen and (max-width: 350px) {
    
}